<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booked Test Rides</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- include('../partials/cNavbar')%>
    <br />
    <h1>Booked Rides</h1>
    <br />
    <div>
      <table class="container border border-info">
        <thead>
          <tr>
            <th><h1>Car</h1></th>
            <th><h1>Salesman</h1></th>
            <th><h1>Date</h1></th>
            <th><h1>Time Slot</h1></th>
            <th><h1></h1></th>
            <th><h1></h1></th>
          </tr>
        </thead>
        <tbody>
          <% for (row of rows){ %>
          <tr>
            <td><%=row.model%></td>
            <td><%=row.sname%></td>
            <td><%=String(row.ride_date).substring(0,15)%></td>
            <td><%=row.time_slot%></td>
            <!-- <td>
              <a
                class="btn btn-outline-primary"
                href="/customer/rides/update/<%= row.tid %> "
                >Update</a
              >
            </td> -->
            <td>
              <a
                class="btn btn-outline-danger"
                href="/customer/rides/<%= row.tid %> "
                >Delete</a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
